body {
  background: lightgray;
  overflow: scroll;
  }

h1 {
  font-size: 3vw;
  font-weight: bold;
  font-family: "Georgia";
  color: black;
  padding-bottom: 5px;
  padding-top: 20px;
  }


h2 {
  font-size: 1.9vw;
  font-weight: bold;
  font-family: "Georgia";
  color: black;
  padding-bottom: 15px;
  padding-top: 20px;
  }  

h3 {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Georgia";
  color: black;
  padding-bottom: 5px;
  }

h4 {
  font-size: 1.25vw;
  font-weight: bold;
  font-family: "Georgia";
  color: black;
  padding-bottom: 30px;
  }


h5 {
    font-size: 1.25vw;
    font-weight: bold;
    font-family: "Georgia";
    color: rgb(89, 89, 89);
    padding-bottom: 8px;
    }  


.img1 {
  width: 100%;
  height: auto;
  }

.img2 {
  width: 45%;
  height: auto;
  }
 
.img3 {
  width: 25%;
  height: auto;
  }

.img4 {
  width: 15%;
  height: auto;
  }

.img5 {
  width: 35%;
  height: auto;
  }

.img6 {
  width: 70%;
  height: auto;
  }

.box8 {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
  }

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }  

.image-row {
  text-align: center;
  }  

div.relative {
  position: relative;
  top: 20px;
  }  

p {
  font-size: 1vw;
  font-family: "Calibri";
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
}  

.one {
    font-size: 0.9vw;
    font-family: "Calibri";
    color: rgb(89, 89, 89);
    font-style: italic;
}

p.solid {
 border-top-style: solid;
 border-color: orange;   
}

p.dashed {
    border-top-style: dashed;
    border-color: darkgrey;   
    border-width: thin;
   }

div.myTableauViz {
    width: 1616px;
    margin-left: auto;
    margin-right: auto;
}